.blue {
  --c1: #e6f4ff;
  --c2: #bae0ff;
  --c3: #91caff;
  --c4: #69b1ff;
  --c5: #4096ff;
  --c6: #1677ff;
  --c7: #0958d9;
  --c8: #003eb3;
  --c9: #002c8c;
  --c10: #001d66;
}
html,
body {
  margin: 0px;
  padding: 0px;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-size: 13px;
}
.icon {
  font-size: 12px !important;
}
input {
  border: none;
  outline: none;
  display: block;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
