.red {
  --fore: #f02c38;
  --bg: #fcdde0;
  --fore-lighter0: #f02c38bb;
  --fore-lighter1: #f02c3877;
  --fore-lighter2: #f02c3833;
  --fore-lighter3: #f02c3811;
}

.blue {
  --fore: #1677ff;
  --bg: #e6f4ff;
  --fore-lighter0: #1677ffbb;
  --fore-lighter1: #1677ff77;
  --fore-lighter2: #1677ff33;
  --fore-lighter3: #1677ff11;
}

.green {
  --fore: #389e0d;
  --bg: #f6ffed;
  --fore-lighter0: #389e0dbb;
  --fore-lighter1: #389e0d77;
  --fore-lighter2: #389e0d33;
  --fore-lighter3: #389e0d11;
}

.purple {
  --fore: #722ed1;
  --bg: #f9f0ff;
  --fore-lighter0: #722ed1bb;
  --fore-lighter1: #722ed177;
  --fore-lighter2: #722ed133;
  --fore-lighter3: #722ed111;
}

.yellow {
  --fore: #d48806;
  --bg: #fff1b8;
  --fore-lighter0: #d48806bb;
  --fore-lighter1: #d4880677;
  --fore-lighter2: #d4880633;
  --fore-lighter3: #d4880611;
}
html,
body {
  margin: 0px;
  padding: 0px;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-size: 13px;
}
.icon {
  font-size: 12px !important;
}
input {
  border: none;
  outline: none;
  display: block;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
